/*
table.o_list_view tbody tr:not(.o_data_row) {
    display: none;
}
*/
table.o_list_view tbody tr:not(.o_data_row) td:not(.o_field_x2many_list_row_add) {
    display: none;
}
.table.o_list_view {
    width: auto;
}

.invalid_message_field {
	margin: auto;
	font-weight: bold;
	color: white;
}

.o_form_statusbar.invalid_message_header {
	background-color: red;
	
}

.o_form_view .row label.o_form_label {
	font-weight: bold;
}


.o_video_preview video {
	width: 360px;
	margin-top: 10px;
}

.smallpreview .o_video_preview video {
	width: 240px;
}

.smallstatus {
	font-size: smaller;
	font-style: italic;

}

.param {
    padding: 5px 0px;
}

.param_group {
	padding: 10px;
	background-color: #eee;
	margin: 5px 0;
}

.param_subgroup {
    padding: 10px 0px;
}

.param_subgroup h3{
	font-size:10pt;
}

.param_group h2{
	font-size:12pt;
}

.task-video-buttons {
	margin: 5px 0;
}

table.o_list_view tbody tr:not(.o_data_row) td:not(.o_field_x2many_list_row_add) {
    display: table-cell;
}

.buttongap > * {
	margin: 5px;
}