/*
table.o_list_view tbody tr:not(.o_data_row) {
    display: none;
}
*/
table.o_list_view tbody tr:not(.o_data_row) td:not(.o_field_x2many_list_row_add) {
    display: none;
}
.table.o_list_view {
    width: auto;
}

.invalid_message_field {
	margin: auto;
	font-weight: bold;
	color: white;
}

.o_form_statusbar.invalid_message_header {
	background-color: red;
	
}

.o_form_view .row label.o_form_label {
	font-weight: bold;
}

.smallstatus {
	font-size: smaller;
	font-style: italic;
}